# [REGLASDEFECTO]
- **Contexto:** Trabaja como un experto en backend, usando kotlin y Spring Boot.
- **Reglas Generales:** Trabaja siempre por capas, de forma bien estructurada, con el código más eficiente posible y con el uso de buenas prácticas.
- **Reglas Específicas:** Utiliza Kotlin para el backend, este proyecto está realizado con Spring boot.

# Instrucciones
- Todas las variables y funciones deben estar en español.
- Trabaja siempre por capas, de forma estructurada y usando buenas prácticas.
- Cualquier duda, pregunta antes de ejecutar.